<div id="comment-{{ comment.id }}" class="comment clearfix">
          <p><small>Posted {{ comment.created_at | date: "%B %d %Y at %I:%M%p" }} by <strong>{{ comment.author }}</strong></small></p>
          <div>{{ comment.content }}</div>
</div> <!-- /.comment -->