@import "checkout.reset.scss";
@import "checkout.bootstrap.scss";

/* Custom checkout styles */
#info-bar{
  @extend .alert;
  @extend .alert-success;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0;
}

#header, #container.slim #header{
  @extend .page-header;
}

#footer, #container.slim #footer{
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-bottom;
  text-align: center;
  p{
    @extend p;
    text-align: center;
    margin-top: 10px;
  }
}

h1#tagline{
  text-align: center;
}

#wallet{
  text-align: center;
  padding: 2.5em 0;
  #cost{
    @extend h1;
    text-align: center;
    font-size: 4.5em;
  }
  #steps{
    @extend .lead;
  }
}

#email, #payment, .slim .group{
  padding-top: 1em;
  border-top: $page-header-border-color solid 1px;
}

#email{
  margin-bottom: 1.5em;
  #order_email{
    width: 50%;
    min-width: 300px;
    margin-right: 1em;
    float: left;
  }
  .sign-in-message{
    float: left;
    margin-top: 0.5em;
  }
}

#payment-methods, #create-account{
  @extend .well;
}

#buttons input{
  @extend .btn-primary;
}

#create-account, #create-account-btn{
  margin-bottom: 1.5em;
}

/* Insert your own logo (upload separately) */
/* {% if settings.logo-image %} */
#logo { 
  height: 65px;
  background: url(#{'{{ "logo-image-file.png" | asset_url }}'}) center no-repeat;
}
#header > h1{
  text-align:center;
}
/* Hide the name of the store because we got this nifty logo now */
#header > h1 span.title {
  display:none;
}
/* {% endif %} */