@import "bootstrap-3/less/bootstrap.less";

img {
  &:extend(.img-responsive);
}

body {
  padding-top: @navbar-height + @grid-gutter-width;
  padding-bottom: @navbar-height + @grid-gutter-width;
}

a.icon:hover {
  text-decoration: none;
}