@import "sass-twitter-bootstrap/lib/bootstrap.scss";

body {
  padding-top: $navbarHeight + 20;
  padding-bottom: $navbarHeight + 20;
}

@import "sass-twitter-bootstrap/lib/responsive.scss";

.image_placeholder {
  background-color: #eee;
  padding: ($gridGutterWidth * 3) $gridGutterWidth;
  color: #ccc;
  text-shadow: 1px 0px 1px #fff;
  text-align: center;
  font-size: 1.5em;
}