@import "bootstrap/less/bootstrap.less";

@import "font-awesome/less/font-awesome.less";

body {
  padding-top: @navbarHeight + 20;
  padding-bottom: @navbarHeight + 20;
}

@import "bootstrap/less/responsive.less";

.image_placeholder {
  background-color: #eee;
  padding: (@gridGutterWidth * 3) @gridGutterWidth;
  color: #ccc;
  text-shadow: 1px 0px 1px #fff;
  text-align: center;
  font-size: 1.5em;
}

/*
.label {
  font-size: .9em;
  line-height: 1em;
  padding: .3em;
  
  .lead & {
   font-weight: normal; 
  }
}
*/

.lead {
  & span,
  & del,
  & .label {
   vertical-align: middle; 
  }
}

a {
  .label & {
    color: inherit !important;
  }
  
  &:hover, &.localize:hover {
    text-decoration: none;
  };
}