@import "bower_components/sass-bootstrap/lib/bootstrap.scss";

img {
  @extend .img-responsive;
}

body {
/* do we need this if we are using navbar placement setting? */
/*
  padding-top: $navbar-height + $grid-gutter-width;
  padding-bottom: $navbar-height + $grid-gutter-width;
*/
}

a.icon:hover {
  text-decoration: none;
}

.money {
  @extend .text-right;
}

#currencies-picker {
	padding: 0;
}

.thumbnail{
  overflow: auto;
}

.loader {
	margin: 0 auto;
	z-index: 9999;
	cursor: wait;
	width: 25px;
	height: 25px;
	background: url('load.gif') no-repeat;
	display: none;
}

.dl-horizontal-left{
  @extend .dl-horizontal;
  dt{
    text-align: left;
  }
}

.form-wrapper-horizontal{
  #customer-register-form form,
  #customer-login-form form,
  #customer-recover-password-form form,
  #customer-password-form form,
  #customer-address-form form{
    @extend .form-horizontal;
  }
}

#signinModal{
  .modal-header{
    border-bottom: none;
  }
  .modal-body .col:last-child{
    border-left: $hr-border solid 1px;
  }
}

#admin_header{
  overflow: auto;
  margin-bottom: $grid-gutter-width;
}

#footer-credits{
  margin-top: $grid-gutter-width;
  margin-bottom: 0;
  border-radius: 0;
}