@import "bootstrap/less/bootstrap.less";

body {
  padding-top: @navbarHeight + 22;
  padding-bottom: @navbarHeight + 2;
}

@import "bootstrap/less/responsive.less";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

h3 {
  .form-actions & {
    margin-top: 0; 
  }
}

.image_placeholder {
  background-color: #eee;
  padding: (@gridGutterWidth * 3) @gridGutterWidth;
  color: #ccc;
  text-shadow: 1px 0px 1px #fff;
  text-align: center;
  font-size: 1.5em;
}

.lead {
  & span,
  & del,
  & .label {
    vertical-align: middle; 
  }

  .form-actions & {
    margin-bottom: 0;
  }
}

span.money {
  vertical-align: baseline;
}

#currencies-picker {
  display:none
}

a {
  .label & {
    color: inherit !important;
  }
  
  &:hover, &.localize:hover {
    text-decoration: none;
  };
  
  & i {
    text-decoration: none !important;
  }
}

td,
th {
  &.money,
  &.text-right {
    text-align: right;
  }
  
  &.text-center {
    text-align: center;
  }
}

.navbar .divider {
  margin-left: .5em;
  margin-right: .5em;
}

.footer {
  padding: @gridGutterWidth 0;
  margin-top: (@gridGutterWidth * 2);
  border-top: 1px solid @dropdownDividerTop;
  background-color: @wellBackground;
  
  & p {
    margin-bottom: 0;
    color: #777;
  }
}

.footer-links {
  margin: 0;
  & li {
    display: inline;
  }
  & li + li {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid @dropdownDividerTop;
  }
}

.brand img {
  max-height:20px;
  height:auto !important;
  height:20px;
  margin-top: -5px;
}

.social-icons,
.footer-form {
  margin-bottom: 1em;
}

.nav-simple .active {
  font-weight: bold;
}

.input-auto {
  width: auto;
}

@media (max-width: 767px) {
  .navbar-fixed-bottom {
    margin-top: 0;
  }
  
  .footer {
    margin-left: 0 - @gridGutterWidth;
    margin-right: 0 - @gridGutterWidth;
    padding-left: @gridGutterWidth;
    padding-right: @gridGutterWidth;
   
    & .span2,
    & .span3,
    & .span4 {
      margin-bottom: @gridGutterWidth;
    } 
  }
}