$line-height-base: 1.42858; // fix rounding issue as sass var can only hold 5 decimal places (orig: 1.428571429)
@import "bower_components/sass-bootstrap/lib/bootstrap.scss";

// sticky footer
$footer-height: 200px;
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#content { padding-bottom: ($footer-height + $navbar-height); overflow: auto; }
#footer-content { 
  position: relative;
  margin-top: -($footer-height + $navbar-height);
  min-height: $footer-height;
  clear:both;
}

img {
  @extend .img-responsive;
}

.brand{
  @extend .page-header;
  overflow: auto;
  margin-top: 0;
  h1{
    margin-top: 10px;
  }
  a:hover{
    text-decoration: none;
  }
}
aside .page-header:first-child, .main-content .page-header{
  margin-top: 0;
}

.carousel{
  margin-bottom: $grid-gutter-width;
}

a.icon:hover {
  text-decoration: none;
}

.money {
  @extend .text-right;
}

#product-form{
  #quantity{
    max-width: 5em;
  }
  #purchase{
    margin-top: $grid-gutter-width;
  }
  .product-price{
    font-size: floor($font-size-large * 1.15);
  }
}

#currencies-picker {
	padding: 0;
}

.thumbnail{
  overflow: auto;
  img{
    text-align: center;
    margin: auto;
  }
}

.loader {
	margin: 0 auto;
	z-index: 9999;
	cursor: wait;
	width: 25px;
	height: 25px;
	background: url('load.gif') no-repeat;
	display: none;
}

.dl-horizontal-left{
  @extend .dl-horizontal;
  dt{
    text-align: left;
  }
}

.form-wrapper-horizontal{
  #customer-register-form form,
  #customer-login-form form,
  #customer-recover-password-form form,
  #customer-password-form form,
  #customer-address-form form{
    @extend .form-horizontal;
  }
}

.modal{
  color: $text-color;
}
#signinModal{
  .modal-header{
    border-bottom: none;
  }
  .modal-body .col:last-child{
    border-left: $hr-border solid 1px;
  }
}

.carousel-control{
  .fa{
    position: absolute;
    top: 50%;
    z-index: 5;
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
  .fa-chevron-left{
    margin-left: -10px;
  }
  .fa-chevron-right{
    margin-right: -10px;
  }
}
.carousel-caption{
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  text-align: left;
  text-shadow: none;
  padding: $padding-base-horizontal $padding-base-vertical $grid-gutter-width;
  border: darken($gray-lighter, 6.5%) solid 1px;
  border-radius: $border-radius-large; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#admin_header{
  overflow: auto;
  margin-bottom: $grid-gutter-width;
}

.sidebar{
  padding-top: $padding-base-horizontal;
  padding-bottom: $padding-base-horizontal;
}

#footer-content{
  padding-bottom: $grid-gutter-width;
  .container{
    padding-top: $padding-base-horizontal;
    border-top: $gray-lighter solid 1px;
  }
}
#footer-credits{
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;  
}

/* Fix Typeahead styles: https://github.com/twitter/typeahead.js/issues/378#issuecomment-23111549 */
.twitter-typeahead {
    width: 100%;
    position: relative;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
}

.twitter-typeahead .tt-hint {
    color: #a1a1a1;
    z-index: 1;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.twitter-typeahead .tt-query {
    z-index: 2;
    border-radius: 4px !important;
}

.input-group-addon + .twitter-typeahead > .tt-query {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.input-group-appended > .twitter-typeahead > .tt-query {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

@media (min-width: 768px){
  #product-form .product-price{
    font-size: floor($font-size-large * 1.2);
  }
  
  .sidebar{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: $grid-gutter-width;
    .sidebar-content{
      padding: $padding-base-horizontal;
      border-radius: $border-radius-base;
    }
  }
  .carousel-control{
    .fa{
      font-size: 30px;
      width: 30px;
      height: 30px;
      margin-top: -15px;
    }
    .fa-chevron-left{
      margin-left: -15px;
    }
    .fa-chevron-right{
      margin-right: -15px;
    }
  }
  .carousel-caption{
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding: 20px 0;
    text-align: center;
    text-shadow: $carousel-text-shadow;
    background-color: transparent;
    border: none;
  }
}