<h1>{{ article.title }}</h1>

<p class="muted">{{ article.published_at | date: settings.long-date-format }}{% if settings.show-author-on-index %} by {{ article.author }}{% endif %}</p>

{{ article.content }}