{% unless settings.tag-placement == 'sidebar' %}{% include 'collection-tags-menu' %}{% endunless %}

<h1 class="page-header">{{ page_title }}</h1>
<p class="lead">{{ collection.description }}</p>

{% unless settings.tag-placement == 'sidebar' %}
  {% include 'collection-tags-buttons' %}
{% endunless %}

{% if collection.all_products_count == 0 %}
<p>Sorry, no products were found in the {{ collection.title }} collection.</p>

{% else %}
{% include '__default-pagination' %}
{% paginate collection.products by default-pagination %}
{% include 'products-list' %}
{% include 'pagination' %}
{% endpaginate %}

{% endif %}