{% unless settings.tag-placement == 'sidebar' %}{% include 'collection-tags-menu' %}{% endunless %}

<h1 class="page-header">{{ page_title }}</h1>

{% unless settings.tag-placement == 'sidebar' %}
  {% include 'collection-tags-buttons' %}
{% endunless %}

{% if collection.all_products_count == 0 %}
<p>Sorry, no products were found in the {{ collection.title }} collection.</p>

{% else %}
{% paginate collection.products by settings.default-pagination %}
<div class="row">
	{% for p in collection.products %}
		{% include '_product' with p %}
	{% endfor %}
</div>
{% include 'pagination' %}
{% endpaginate %}

{% endif %}