<h1>{{ collection.title }}</h1>

<ul class="thumbnails">

{% if collection.all_product_count > 0 %}
  {% for product in collection.products %}
    {% include '_product-loop' %}
  {% endfor %}
{% else %}
  {% for i in (1..4) %}
    {% include '_product-loop' %}
  {% endfor %}
{% endif %}

</ul>