{% assign homepage = 'frontpage' %}
{% unless settings.homepage == blank %}{% assign homepage = settings.homepage %}{% endunless %}
<h1 class="page-header">{{ pages[homepage].title }}</h1>
{% unless pages[homepage].content == blank %}<div class="lead">
  {% include '__formatted-content' with pages[homepage].content %}
</div>{% endunless %}

{% include 'features-overview' %}

{% unless settings.featured-collections-linklist == blank %}
<h2>{{ linklists[settings.featured-collections-linklist].title }}</h2>
  {% include 'collections-list' with 'featured' %}
{% endunless %}

{% if settings.homepage-featured-products-collection %}
<h2>{{ collections[settings.homepage-featured-products-collection].title }}</h2>
  {% include 'products-list' with 'featured' %}
{% endif %}
