{% unless pages[settings.homepage-intro] == empty %}
<h1 class="page-header">{{ page_title }}</h1>
<div class="lead">
  {{ pages[settings.homepage-intro].content }}
</div>
{% endunless %}

{% include '__per-row' %}

{% if settings.featured-collections-linklist %}
<h2>{{ linklists[settings.featured-collections-linklist].title }}</h2>
{% include 'list-collections' %}
{% endif %}
{% if settings.homepage-featured-products-collection %}
<h2>{{ collections[settings.homepage-featured-products-collection].title }}</h2>
<div class="row">{% if settings.featured-products-limit contains 'row' %}{% assign limit = settings.featured-products-limit | remove: 'row' | remove: 'rows' | remove: ' ' | times: per-row %}{% else %}{% assign limit = 50 %}{% endif %}
  {% for p in collections[settings.homepage-featured-products-collection].products | limit: limit %}
    {% include '_product' with p %}
  {% endfor %}
</div>
{% endif %}
