<h1 class="page-header">{{ page_title }}</h1>

{% unless pages[settings.homepage-intro] == empty %}
<div class="lead">
  {{ pages[settings.homepage-intro].content }}
</div>
{% endunless %}

{% capture strip_space %}
{% if settings.thumbnails-per-row == '3' or settings.show-sidebar == true %}
 {% assign per-row = 3 %}
{% else %}
  {% assign per-row = 4 %}
{% endif %}
{% endcapture %}

{% unless settings.featured-collections-linklist == empty %}
<h2>{{ linklists[settings.featured-collections-linklist].title }}</h2>
<ul class="thumbnails">{% if settings.homepage-featured-collections-limit contains 'row' %}{% assign limit = settings.homepage-featured-collections-limit | remove: 'row' | remove: 'rows' | remove: ' ' | times: per-row %}{% else %}{% assign limit = 50 %}{% endif %}
  {% for l in linklists[settings.featured-collections-linklist].links | limit: limit %}
    {% assign collection = l.object %}
    {% include '_collection' with collection %}
  {% endfor %}
</ul>
{% endunless %}
{% unless settings.homepage-featured-products-collection == empty %}
<h2>{{ collections[settings.homepage-featured-products-collection].title }}</h2>
<ul class="thumbnails">{% if settings.featured-products-limit contains 'row' %}{% assign limit = settings.featured-products-limit | remove: 'row' | remove: 'rows' | remove: ' ' | times: per-row %}{% else %}{% assign limit = 50 %}{% endif %}
  {% for p in collections[settings.homepage-featured-products-collection].products | limit: limit %}
    {% include '_product' with p %}
  {% endfor %}
</ul>
{% endunless %}