{% unless pages[settings.homepage-intro] == empty %}
<h1 class="page-header">{{ pages[settings.homepage-intro].title }}</h1>
<div class="lead">
  {{ pages[settings.homepage-intro].content }}
</div>
{% endunless %}

{% if settings.featured-collections-linklist %}
<h2>{{ linklists[settings.featured-collections-linklist].title }}</h2>
  {% include 'collections-list' with 'featured' %}
{% endif %}

{% if settings.homepage-featured-products-collection %}
<h2>{{ collections[settings.homepage-featured-products-collection].title }}</h2>
  {% include 'products-list' with 'featured' %}
{% endif %}
