{% include '__has-variables' %}
<h1 class="page-header">{% include '__localize' with "Product Collections" %}</h1>

{% if settings.featured-collections-linklist == '' %}
  {% include '__default-pagination' %}
  {% paginate collections by default-pagination %}
  {% if collections.size > 0 %}
    {% include 'collections-list' %}
    {% include 'pagination' %}
  {% else %}
    <div class="alert alert-info text-center">
      <h3><i class="fa fa-info-circle"></i> No collections found.</h3>
    </div>
  {% endif %}
  {% endpaginate %}
{% else %}
  {% include 'collections-list' with 'featured' %}
{% endif %}
