{% include '__has-variables' %}


{% if settings.all-collections-linklist == blank %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<h1 class="page-header">{% include '__localize' with "All Collections" %}</h1>
  {% include '__default-pagination' %}
  {% paginate collections by default-pagination %}
  {% if collections.size > 0 %}
    {% include 'collections-list' %}
    {% include 'pagination' %}
  {% else %}
    <div class="alert alert-info text-center">
      <h3><i class="fa fa-info-circle"></i> No {% include '__localize' with 'collections' %} found.</h3>
    </div>
  {% endif %}
  {% endpaginate %}
  {% include '__containers-close' %}
</section>
{% else %}
<section class="section-wrap">
	{% include '__containers-open' %}
		<h1 class="page-header">{{ linklists[settings.all-collections-linklist].title }}</h1>
		{% include 'collections-list' with 'all-collections' %}
	{% include '__containers-close' %}
</section>
{% endif %}