{% include '__has-variables' %}
<h1 class="page-header">{{ page_title }}</h1>

<div class="row">
	<div class="col-md-6">
		<p>{% include '__formatted-content' with page.content %}</p>
	</div>
	<div class="col-md-6">
		{% include 'contact-form' %}
	</div>
</div>