{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
	{% include '__containers-open' %}
		<h1 class="page-header">{{ page_title }}</h1>
		{% include '__formatted-content' with page.content %}
	{% include '__containers-close' %}
</section>