{% include '__has-variables' %}
<section id="contact-page-wrap" class="section-wrap">
	<h1 class="page-header">{{ page_title }}</h1>
  <div class="row">
  	<div class="col-md-6 col-md-push-6">
  		{% include '__formatted-content' with page.content %}
  		<hr class="visible-sm visible-xs">
  	</div>
  	<div class="col-md-6 col-md-pull-6">
  		{% include 'contact-form' %}
  	</div>
  </div>
</section>