{% capture vars %}
{% if product.featured_image == blank %}
{% assign image = '<div class="image_placeholder">Product Image</div>' %}
{% else %}
{% assign image = product.featured_image.src | product_img_url: 'grande' | img_tag %}
{% endif %}
{% endcapture %}
<div class="row">
  <div class="span{% if settings.show-sidebar %}5{% else %}6{% endif %}">{{ product.description }}</div>
  <ul class="span{% if settings.show-sidebar %}4{% else %}6{% endif %}">
    <ul class="thumbnails">
      <li><div class="thumbnail">{{ image }}</div></li>
      {% if product.images.size > 1 %}
      {% for image in product.images %}
      <li class="span2">
        <a href="#" class="thumbnail">
          {{ image.src | product_img_url: 'medium' | img_tag }}
        </a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>