<h1 class="page-header">{% include 'smart-title' %}</h1>
{% include '__default-pagination' %}
{% paginate search.results by default-pagination %}
{% for i in search.results %}    
{% include '_search-item' %}
{% endfor %}

{% include 'pagination' %}

{% endpaginate %}