{% include 'theme-variables' %}

{% assign respond_js_secret_key = (shop.domain | md5) %}
{% unless search.terms == respond_js_secret_key %}

<section id="search-wrap" class="section-wrap">
  {% include '__containers-open' %}
  <h1 class="page-header">{% include 'smart-title' %}</h1>

  {% if search.performed %}
    {% include '__default-pagination' %}
    {% paginate search.results by default-pagination %}
    {% for i in search.results %}
    {% include 'search-loop' %}
    {% endfor %}
    {% include 'pagination' %}
    {% endpaginate %}
  {% else %}
    <h3>{% include '__localize' with 'No search results found' %}.</h3>
    <p class="lead">
      {% include '__localize' with 'Try another search' %}.{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with ' or browse all products' %}</a>.{% endunless %}
    </p>
    <form class="form-inline" action="/search">
      <div class="input-group input-group-appended">
        <input type="search" name="q" class="form-control search-bar" autocomplete="off" placeholder="{% include '__localize' with 'Search' %}" value="{{ search.terms }}">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Search" />
        </span>
      </div>
    </form>
  {% endif %}
  {% include '__containers-close' %}
</section>

{% else %}
  {% layout none %}
  {% include 'respond' %}
{% endunless %}