/* Undo background and gradient */
body, #main, #container, #header, #footer {
  background: #fff !important;
}

/* Undo overview background and borders */
#main #overview {
  background: #fff;
  border: none;
}
#main #overview > * {
  border: none;
}
#main #thumbs div {
  border: none;
}

/* Insert your own logo (upload separately) */
#logo { 
  height: 65px;
  background: url({{ 'logo-checkout.png' | asset_url | replace: 'http://','https://' }}) center no-repeat;
}

#header > h1{
  text-align:center;
}

/* Hide the name of the store because we got this nifty logo now */

#header > h1 span.title {
  display:none;
}