{% assign form-type = 'horizontal' %}
<section id="activate-account" class="section-wrap">
	{% include '__containers-open' %}
	<div class="customer-activate-form form-wrapper-horizontal">
		<h1 class="page-header">Activate Account</h1>
		<p class="note">Create your password to activate your account</p>
		{% include '_form-password' with 'activate' %}
	</div>
	{% include '__containers-close' %}
</section>