<div id="customer">
  <h1 class="page-header">Create Account</h1>
  {% form 'create_customer' %}
    {% include '_form-error' %}
    
    <div id="first_name" class="form-group">
      <label for="first_name" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-10">
        <input type="email" value="" name="customer[first_name]" id="first_name" class="form-control" placeholder="First Name" />
      </div>
    </div>
    
    <div id="last_name" class="form-group">
      <label for="last_name" class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-10">
        <input type="email" value="" name="customer[last_name]" id="last_name" class="form-control" placeholder="Last Name" />
      </div>
    </div>
    
    <div id="email" class="form-group">
      <label for="customer_email" class="col-lg-2 control-label">Email Address</label>
      <div class="col-lg-10">
        <input type="email" value="" name="customer[email]" id="customer_email" class="form-control" placeholder="Email" />
      </div>
    </div>
    
    <div id="password" class="form-group">
      <label for="customer_password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" value="" name="customer[password]" id="customer_password" class="form-control" placeholder="Passsword" />
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <input class="btn btn-default" type="submit" value="Create" />
        <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span>
      </div>
    </div>
  {% endform %}
</div>