{% assign form-type = 'horizontal' %}
<section id="register" class="section-wrap">
	{% include '__containers-open' %}
	<div class="customer-register-form form-wrapper-horizontal">
		<h1 class="page-header">Create Account</h1>
		{% include '_form-register' %}
	</div>
	{% include '__containers-close' %}
</section>