{% assign form-type = 'horizontal' %}
<section id="reset-password" class="section-wrap">
	{% include '__containers-open' %}
	<div class="customer-reset-password-form form-wrapper-horizontal">
		<h1 class="page-header">Reset Account Password</h1>
		<p class="note">Enter a new password for {{ email }}</p>
		{% include '_form-password' with 'reset' %}
	</div>
	{% include '__containers-close' %}
</section>