{% layout settings.customer_layout %}
<div class="row">
    {% include 'sidebar' %}
<div class="span9 columns">


<div id="template">
    <div class="template_header">
      <h2 class="title">Reset Account Password</h2>
      <p class="note">Enter a new password for {{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}

{% if form.errors %}
<div class="alert alert-error">
      {{ form.errors | default_errors }}
</div>
{% endif %}


<div class="well form-inline">
  <input type="password" value="" placeholder="Password" name="customer[password]" id="customer_password" class="input-large" />
  <input type="password" value="" placeholder="Confirm Password" name="customer[password_confirmation]" id="customer_password_confirmation" class="input-large" />
<button class="btn btn-primary" type="submit">Reset Password</button>

</div>


    {% endform %}
</div>
</div>
</div>
