{% capture table_replace %}<table class="table{% include '__table-formatting' %}"{% endcapture %}
{% capture img_replace %}<img class="thumbnail content-thumbnail"{% endcapture %}
{% assign formatted_content = __formatted-content | remove: '<p>===</p>' | remove: '===' | replace: '<table',table_replace | replace: '<img',img_replace | replace: '<p>&nbsp;</p>',' ' %}
{% if formatted_content contains '<p>' %}
  {{ formatted_content }}
{% else %}
  <p>{{ formatted_content }}</p>
{% endif %}