{% include '__collection-image' %}
<div class="{% include '__thumbnail-span' %}">
	<div class="thumbnail">
		{{ image }}
		<div class="caption clearfix">
			<strong>{{ _collection.title | link_to: _collection.url, _collection.title }}</strong>
			{% comment %}<span class="pull-right">{{ _collection.all_products_count }}&nbsp;{{ _collection.all_products_count | pluralize: 'product','products' }}</span>{% endcomment %}
		</div>
	</div>
</div>