{% if settings.thumbnails-per-row == '4' %}
	{% cycle '', '', '', '<div class="clearfix visible-md visible-lg"></div>' %}
	{% cycle '', '', '<div class="clearfix visible-sm"></div>' %}
{% else %}
	{% cycle  '', '', '<div class="clearfix visible-md visible-lg"></div>' %}
	{% cycle  '', '<div class="clearfix visible-sm"></div>' %}
{% endif %}