{% include '_form-error' %}

<div id="password" class="form-group">
  <label for="customer_password" class="{% include '__form-horizontal-label' %} control-label">Password</label>
  <div class="{% include '__form-horizontal-input' %}">
    <input type="password" value="" name="customer[password]" id="customer_password" class="form-control" placeholder="Passsword" />
  </div>
</div>

<div id="password_confirm" class="form-group">
  <label for="password_confirmation" class="{% include '__form-horizontal-label' %} control-label">Password Confirmation</label>
  <div class="{% include '__form-horizontal-input' %}">
    <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="form-control" placeholder="Passsword Confirmation" />
  </div>
</div>

<div class="form-group">
  <div class="{% include '__form-horizontal-offset' %}">
    <input class="btn btn-primary" type="submit" value="{% if _form-password == 'activate' %}Activate Account{% else %}Reset Password{% endif %}" />
    {% if _form-password == 'activate' %}
      <span class="note">or</span><input type="submit" class="cancel btn btn-default" name="decline" id="customer_decline" value="Decline Invitation" />
    {% endif %}
  </div>
</div>