<div id="customer-password-form">
  {% if _form-password == 'activate' %}
    {% form 'reset_customer_password' %}
      {% include '_form-password-fields' %}
    {% endform %}
  {% elsif _form-password == 'reset' %}
    {% form 'reset_customer_password' %}
      {% include '_form-password-fields' %}
    {% endform %}
  {% endif %}
</div>