<div id="customer-recover-password-form">
  <p class="note">We will send you an email to reset your password.</p>
  {% form 'recover_customer_password' %}
    {% include '_form-error' %}
    
    <div id="login_email" class="form-group">
      <label for="customer_email" class="{% include '__form-horizontal-label' %} control-label">Email Address</label>
      <div class="{% include '__form-horizontal-input' %}">
        <input type="email" value="" name="email" id="recover-email" class="form-control" placeholder="Email" />
      </div>
    </div>
  
    <div class="form-group">
      <div class="{% include '__form-horizontal-offset' %}">
        <input class="btn btn-primary" type="submit" value="Reset" />
        <span id="recover-password-link" class="note">or <a href="#customer-login-form" class="hide-recover-password-form">Cancel</a></span>
      </div>
    </div>
  {% endform %}
</div>