{% capture translation %}{% if settings.[_localize] == blank %}{{ _localize | replace: '-',' ' | replace: '_', ' ' }}{% else %}{{ settings.[_localize] }}{% endif %}{% endcapture %}
{{ translation }}{% if settings.setup-mode %} <a href="#" data-toggle="tooltip" title="You can edit the wording in /admin/themes/{{ theme.id }}/settings">?</a>{% endif %}