{% capture translation %}{% if settings.[_localize] == blank %}{{ _localize | replace: '-',' ' | replace: '_', ' ' }}{% else %}{{ settings.[_localize] }}{% endif %}{% endcapture %}
{{ translation }}{% if settings.setup-mode %} <a href="#" class="localize" data-toggle="tooltip" title="Edit wording in Theme Settings"><i class="icon-question-sign"></i></a>{% endif %}