<div class="navbar-text navbar-left">
  <small class="text-muted">
    &copy;{{ 'now' | date: '%Y' }}&nbsp;<strong><a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a></strong>. <br class="visible-sm">
    <a href="https://github.com/luciddesign/bootstrapify/" title="Bootstrapify, open-source Shopify theme on GitHub">Boostrapify</a>&nbsp;theme&nbsp;by&nbsp;<a href="http://luciddesign.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid&nbsp;Design</a>. <br class="visible-sm">
    Powered&nbsp;by&nbsp;<a href="http://www.shopify.com?ref=lucid-design" target="_blank">Shopify</a>.
  </small>
</div>
<ul class="nav navbar-nav navbar-right">
  {% for l in linklists[settings.footer-navbar-linklist].links %}
  {% include '_navbar-link' with 0 %}
  {% endfor %}
</ul>
{% unless settings.currency-switcher-position == 'navbar' %}{% include 'currency-switcher' %}{% endunless %}