<div class="form-actions"{{ _product-add-to-cart-button }}>
  <p class="lead">
    <del id="compare-at-price-field" class="muted"></del>
    <span id="price-field"></span>
    <span id="sale-field" class="label label-success">{% include '_localize' with 'on-sale' %}</span>
    <span id="sold-out-field" class="label label-important">{% include '_localize' with 'sold-out' %}</span>
    <span id="unavailable-field" class="label">{% include '_localize' with 'unavailable' %}</span>
  
    <input type="submit" name="add" value="Add to cart" id="purchase" class="btn pull-right" data-loading-text="Added" />
  </p>
</div>