{% include '__product-image' %}
<div class="{% include '__thumbnail-span' %}">
  <div class="thumbnail">
    {{ image }}
    <div class="caption clearfix">
      <div><strong>{{ _product.title | link_to: product_url }}</strong></div>
      <div class="text-right">{% include 'product-price' with _product %}</div>
    </div>
  </div>
</div>
{% if settings.thumbnails-per-row == '4' %}
	{% cycle '', '', '', '<div class="clearfix visible-md visible-lg"></div>' %}
	{% cycle '', '', '<div class="clearfix visible-sm"></div>' %}
{% else %}
	{% cycle  '', '', '<div class="clearfix visible-md visible-lg"></div>' %}
	{% cycle  '', '<div class="clearfix visible-sm"></div>' %}
{% endif %}