{% capture vars %}
{% assign product_url = _product.url | within: collection %}
{% if _product.featured_image == blank %}
{% assign image = '<div class="image_placeholder">Product Image</div>' %}
{% else %}
{% assign image = _product.featured_image.src | product_img_url: 'large' | img_tag | link_to: product_url %}
{% endif %}
{% endcapture %}
<li class="{% include '__thumbnail-span' %}">
  <div class="thumbnail">
    {{ image }}
    <div class="caption">
      <div><strong>{{ _product.title | link_to: product_url }}</strong></div>
      <div class="text-right">{% include 'product-price' with _product %}</div>
    </div>
  </div>
</li>