{% include '__product-image' %}
<div class="{% include '__product-css-class' %}{% if settings.masonry-style-layout %} masonry{% endif %}" {% include '__product-data-attr' with _product %}>
  <div class="thumbnail">
    {{ image }}
    <div class="caption clearfix">
      <div><strong>{{ _product.title | link_to: product_url }}</strong></div>
      {% if _product.price > 0 %}<div class="text-right">{% include 'product-thumb-price' with _product %}</div>{% endif %}
    </div>
  </div>
</div>
{% include '_end_row' %}