<ol id="toursteps">
  /* data-id needs to be the same as the parent it will attach to */
  <li data-id="homepage-intro">Choose which page (if any) shows here in the <a href="/admin/themes/{{ theme.id }}/settings" target="_blank">theme settings</a> under Homepage &raquo; Homepage Intro. Currently showing content of the &ldquo;{{ pages[settings.homepage-intro].title }}&rdquo; page.</li>
  /* This tip will be display as a modal */
  <li>Tip content...</li>
  /* using 'data-button' lets you have custom button text */
  <li data-class="parent-element-class" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">Content...</li>
  /* you can put a class for custom styling */
  <li data-id="parentElementID" class="custom-class">Content...</li>
</ol>