<section class="collection--header">
  {% unless has_sidebar %}<div class="container">{% endunless %}
    {% include 'collection-description' %}
  {% unless has_sidebar %}</div>{% endunless %}
</section>