{% assign collection_linklist = collection.handle | prepend: 'collection-' %}
{% if linklists[collection_linklist] and linklists[collection_linklist].links.size > 0 %}
  {% assign nested_collections = linklists[collection_linklist].links | map: 'object' | map: 'handle' %}
{% else %}
  {% assign child_types = 'Vendors,Types' | split: ',' %}
  {% for t in child_types %}
    {% capture child_translation %}{% include '__localize' with t %}{% endcapture %}
    {% assign collection_handle = 'all-' | append: child_translation | downcase %}
    {% if collection.handle == collection_handle %}
      {% if t == 'Vendors' %}
        {% assign nested_collections = shop.vendors %}
      {% elsif t == 'Types' %}
        {% assign nested_collections = shop.types %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if nested_collections.size > 0 %}
<section class="collection--nested-collections">
  {% include '__containers-open' %}
  <div class="row{% if thumbnail_layout == 'masonry' %} masonry-collection{% endif %}">
  {% for nested_collection in nested_collections %}
    {% assign hide_products = true %}
    {% assign child_handle = nested_collection | handleize | downcase %}
    {% if collections[child_handle].products.size > 0 %}
      {% if settings.show-products-on-nested-collections-page %}
        {% assign is_nested = true %}
        {% include 'collection-description' with collections[child_handle] %}
        {% assign product_collection = collections[child_handle] %}
        {% for collection_product in product_collection.products %}
          {% include 'product-loop' with collection_product %}
        {% endfor %}
      {% else %}
        {% include 'collection-loop' with collections[child_handle] %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  {% include '__containers-close' %}
</section>
{% endif %}