{% if settings.show-multiple-currencies %}
<ul class="nav pull-right muted">
  <li class="navbar-text">
    <small id="current-currency">
      All prices in <strong><span class="selected-currency">&nbsp;&nbsp;&nbsp;</span></strong> 
      <span id="currency-picker-toggle">(<a href="#" class="muted">change</a>)</span>
    </small>
  </li>
  <li id="currencies-picker" class="navbar-form">
    &nbsp;<select id="currencies" class="input-auto" name="currencies">
      {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
      {% assign supported_codes = settings.supported-currencies | remove: ',' | split: ' ' %}
      <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
      {% for code in supported_codes %}
      {% if code != shop.currency and codes contains code %}
      <option value="{{ code }}">{{ code }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </li>
  <li class="divider"></li>
</ul>
{% endif %}