{% assign linklist = linklists[settings.features-linklist] %}
{% if linklist != empty and linklist.size > 0 %}

{% assign cols = 4 %}

<h2 class="page-header">{{ linklist.title }}</h2>

<div class="row">
  {% for l in linklist.links %}
    {% include 'features-loop' with 'linklist' %}
  {% endfor %}
</div>
{% endif %}