{% assign blog = blogs[settings.features-blog] %}
{% if blog != empty and blog.articles.size > 0 %}

{% assign cols = 4 %}

<h2 class="page-header">{{ blog.title }}</h2>

<div class="row">
  {% for l in blog.articles %}
    {% include 'features-loop' with 'blog' %}
  {% endfor %}
</div>
{% endif %}