{% assign icons = "twitter facebook pinterest google-plus envelope" | split: ' ' %}

{% for i in icons %}{% unless settings[i] == blank %}
<a href="{% if settings[i] contains '@' %}mailto:{% endif %}{{ settings[i] }}" class="icon-stack muted"{% unless settings[i] contains '@' %} target="_blank"{% endunless %}>
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-{{ i }} icon-light"></i>
</a>{% endunless %}
{% endfor %}

{% if settings.rss %}<a href="#" class="icon-stack muted">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-rss icon-light"></i>
</a>{% endif %}
