<footer id="footer-content" class="footer">
  <div class="container">
    {% if has_footer %}      
      {% assign cols = '' %}
      {% for i in (1..3) %}
        {% assign col = 'column-' | append: i %}
        {% assign col_blog = col | append: '-blog' %}
        {% assign col_menu = col | append: '-menu' %}
        {% assign col_text = col | append: '-text' %}
        
        {% if settings[col_blog] != blank or settings[col_menu] != blank or settings[col_text] != blank or settings.newsletter-signup-placement contains col or settings.social-links-placement contains col %}
          {% assign cols = cols | append: col | append: '|' %}
        {% endif %}
      {% endfor %}
      {% assign footer_columns = cols | split: '|' %}
      
    <div class="row">
      {% for footer_column in footer_columns %}
        {% include 'footer-column-loop' %}
      {% endfor %}
    </div>
    {% endif %}
    
    <p class="text-center footer-credits">
      <small>
        &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>. <br class="visible-sm">
        Design&nbsp;by&nbsp;<a href="http://luciddesign.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid</a>. <br class="visible-sm">
        Powered&nbsp;by&nbsp;<a href="http://www.shopify.com?ref=lucid-design" target="_blank">Shopify</a>.
      </small>
    </p>
  </div>

{% if has_footer_navbar %}{% include 'navbar' with 'footer' %}{% endif %}
</footer>