<footer id="footer-content" class="footer">
  <div class="container">
    {% if has_footer %}
    <div class="row">
      {% assign footer_columns = settings.footer-columns | plus: 0 %}
      {% for i in (1..footer_columns) %}
      {% include '_footer-columns' with footer_columns %}
      {% endfor %}
    </div>
    {% endif %}
    
    <p class="text-center footer-credits">
      <small>
        &copy;{{ 'now' | date: '%Y' }}&nbsp;<strong><a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a></strong>. <br class="visible-sm">
        Design&nbsp;by&nbsp;<a href="http://luciddesign.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid&nbsp;Design</a>. <br class="visible-sm">
        Powered&nbsp;by&nbsp;<a href="http://www.shopify.com?ref=lucid-design" target="_blank">Shopify</a>.
      </small>
    </p>
  </div>

{% if has_footer_navbar %}{% include 'navbar' with 'footer' %}{% endif %}
</footer>