{% assign icons = "twitter facebook pinterest google-plus rss envelope" | split: ' ' %}

{% for i in icons %}
<a href="#" class="icon-stack muted">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-{{ i }} icon-light"></i>
  </a>
</a>
{% endfor %}