{% assign blog = blogs[settings.homepage-blog] %}
{% if blog != empty and blog.articles.size > 0 %}
<section id="homepage-blog" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header">{{ blog.title }}{% if blog.articles.size > 4 %}&ensp;<a class="small" href="{{ blog.url }}">{% include '__localize' with 'View all' %}</a>{% endif %}</h2>

		<div class="row">
			{% for l in blog.articles | limit: 4 %}
			{% assign cols = forloop.length %}
			{% include 'features-loop' with 'blog' %}
			{% endfor %}
		</div>
	{% include '__containers-close' %}
</section>
{% endif %}