{% capture image %}
  <div class="image-placeholder text-muted">
    <div class="image-placeholder-content">
      <i class="fa fa-picture-o fa-5x"></i><br>
      <span>No Image</span>
    </div>
  </div>
{% endcapture %}