<div class="row{% if settings.masonry-style-layout %} masonry-collection{% endif %}">
  {% if settings.featured-products-limit contains 'row' %}{% assign limit = settings.featured-products-limit | remove: 'row' | remove: 'rows' | remove: ' ' | times: per-row %}{% else %}{% assign limit = 50 %}{% endif %}
  {% for p in collections[settings.homepage-featured-products-collection].products | limit: limit %}
    {% include '_product' with p %}
  {% endfor %}
</div>