{% assign linklist = linklists[settings.features-linklist] %}
{% if linklist != empty and linklist.size > 0 %}

{% assign is_3 = linklist.links.size | modulo: 3 %}
{% assign is_4 = linklist.links.size | modulo: 4 %}

{% if is_4 == 0 %}
  {% assign cols = 4 %}
{% else %}
  {% assign cols = 3 %}
{% endif %}

{% assign span = 12 | divided_by: cols %}

<sectio class="features-section">
  {% include '__containers-open' %}
  <h2 class="features-heading">{{ linklist.title }}</h2>

  <div class="row">
    {% for l in linklist.links %}
    {% include 'index-features-loop' %}
    {% endfor %}
  </div>
  {% include '__containers-close' %}
</section>
{% endif %}
