{% assign _blog = blogs[settings.homepage-blog] %}
{% if _blog != empty and _blog.articles.size > 0 %}
<section id="homepage-blog" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header">{{ _blog.title }}{% if _blog.articles.size > 4 %}&ensp;<a class="small" href="{{ _blog.url }}">{% include '__localize' with 'View all' %}</a>{% endif %}</h2>

  	{% for a in _blog.articles | limit: 4 %}
  	{% include 'blog-loop' with a %}
  	{% endfor %}
			
	{% include '__containers-close' %}
</section>
{% endif %}