{% assign linklist_parts = navbar-nav | split: '-' %}

{% assign linklist_name = linklist_parts[0] | append: '-navbar-linklist-' | append: linklist_parts[1] %}
{% assign linklist_setting = settings[linklist_name] %}
<ul class="nav navbar-nav navbar-{{ linklist_parts[1] }}">
  {% for l in linklists[linklist_setting].links %}
  {% include '_navbar-link' %}
  {% endfor %}
</ul>

{% assign social_links_placement = linklist_parts[0] | append: '-navbar-' | append: linklist_parts[1] %}
{% if settings.social-links-placement == social_links_placement %}
<div class="nav navbar-text navbar-{{ linklist_parts[1] }} social-icons">
  {% include 'social-links' %}
</div>
{% endif %}