{% assign linklist_parts = navbar-nav | split: '-' %}
{% assign linklist_name = linklist_parts[0] | append: '-navbar-linklist-' | append: linklist_parts[1] %}
{% assign linklist_setting = settings[linklist_name] %}

{% if linklist_setting %}
<ul class="nav navbar-nav {% unless settings.logo-placement == 'navbar' and linklist_parts[0] == 'top' %}navbar-{{ linklist_parts[1] }}{% endunless %}">
  {% for l in linklists[linklist_setting].links %}
  {% include '_navbar-link' %}
  {% endfor %}
</ul>
{% endif %}

{% assign placement = linklist_parts[0] | append: '-navbar-' | append: linklist_parts[1] %}

{% if settings.newsletter-signup-placement == placement %}
{% assign form-placement = 'navbar-' | append: linklist_parts[1] %}
  {% include 'newsletter-signup-form' with form-placement %}
{% endif %}

{% if settings.social-links-placement == placement %}
<div class="nav navbar-text navbar-{{ linklist_parts[1] }} social-icons">
  {% include 'social-links' %}
</div>
{% endif %}