{% capture badge_tag %}{% include '__localize' with 'badge' %}:{% endcapture %}
{% capture badges %}{% endcapture %}
{% for tag in product.tags %}
  {% if tag contains badge_tag %}
    
    {% assign file_types = '.png|.jpg|.gif' | spilt: '|' %}
    
    {% assign b = tag | remove: badge_tag %}
    {% if b.first == ' ' %}
      {% assign b = b | remove_first: ' ' %}
    {% endif %}
    {% for f_type in file_types %}
      {% if b contains f_type %}
        {% assign b = b | remove: f_type %}
      {% endif %}
    {% endfor %}
    {% if b contains ' ' %}
      {% assign b = b | handleize %}
    {% endif %}
    
    {% capture badges %}{{ badges }}<li>{{ b | append: '_medium.png' | file_url | img_tag }}</li>{% endcapture %}
  {% endif %}
{% endfor %}
{% unless badges == '' %}
<ul class="list-inline product-badges">
  {{ badges }}
</ul>
{% endunless %}