{% if settings.show-product-vendor and settings.show-product-type and settings.show-product-collections and settings.show-product-tags %}
<table class="table {% include '__table-formatting' %}">
  {% if settings.show-product-vendor %}
  <tr>
    <th>{% include '__localize' with 'Vendor' %}</th>
    <td>{{ product.vendor | link_to_vendor }}</td>
  </tr>
  {% endif %}
  {% if settings.show-product-type %}
  <tr>
    <th>{% include '__localize' with 'Type' %}</th>
    <td>{{ product.type | link_to_type }}</td>
  </tr>
  {% endif %}
  {% if settings.show-product-collections %}
  <tr>
    <th>{% include '__localize' with 'Collections' %}</th>
    <td>{% for c in product.collections %}{% if forloop.index > 1 %}, {% endif %}{{ c.title | link_to: c.url }}{% endfor %}</td>
  </tr>
  {% endif %}
  {% if settings.show-product-tags %}
  <tr>
    <th>{% include '__localize' with 'Tags' %}</th>
    <td>{% for tag in product.tags %}{% assign tag_url = tag | handleize | prepend: '/collections/all/' %}{% unless tag contains ':' %}{% if forloop.index > 1 %}, {% endif %}{{ tag | link_to: tag_url }}{% endunless %}{% endfor %}</td>
  </tr>
  {% endif %}
</table>
{% endif %}