{% if settings.display-vendor-description %}
{% assign vendor_handle = product.vendor | handleize %}
{% assign vendor_collection = collections[vendor_handle] %}
{% if vendor_collection.description != blank %}
<div class="col-sm-12 product-vendor-description">
  {% include 'collection-description' with vendor_collection %}
</div>
{% endif %}
{% endif %}