{% if collection %}
<section class="section-wrap">
	<hr>
	<ul class="pager">
		<li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous' | link_to: collection.previous_product }}</li>
		<li>{{ collection.title | link_to: collection.url }}</li>
		<li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next &raquo;' | link_to: collection.next_product }}</li>
	</ul>
</section>
{% endif %}

{% if product.metafields.social-feed.instagram != blank %}
  {% include 'social-feed-instagram' with product %}
{% endif %}

{% if settings.show-related-products %}
{% unless collection %}{% assign collection = product.collections.first %}{% endunless %}
<section id="related-products-title" class="section-wrap">
	<h2 class="page-header">{% include '__localize' with 'Related in' %} {{ collection.title }}</h2>
</section>
{% include 'products-list' with 'limit' %}
{% endif %}