<aside class="span3 hidden-phone">
  {% if settings.logo-placement == 'sidebar' %}<header class="page-header">
    <h1 class="text-{{ settings.logo-alignment }}"><a href="/">{% include 'logo' %}</a></h1>
  </header>{% endif %}
  {% unless linklists[settings.sidebar-linklist] == empty %}
  <h4>{{ linklists[settings.sidebar-linklist].title }}</h4>

  <ul class="nav nav-pills nav-stacked">
    {% for l in linklists[settings.sidebar-linklist].links %}
    <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
    {% endfor %}
  </ul>
  {% endunless %}

  {% unless blogs[settings.sidebar-blog] == empty %}
  <h4>{{ blogs[settings.sidebar-blog].title }}</h4>

  {% for a in blogs[settings.sidebar-blog].articles %}
  {% include '_sidebar-articles' %}
  {% endfor %}
  
  {% endunless %}
  
  {% if settings.newsletter-signup-placement == 'sidebar' %}
    {% include 'newsletter-signup-form' %}
  {% endif %}
          
  {% if settings.social-links-placement == 'sidebar' %}
    {% include 'footer-social-links' %}
  {% endif %}
</aside>
