<aside class="sidebar {% include '__sidebar-span' %}">
  <div class="sidebar-content">
    {% if settings.logo-placement == 'sidebar' %}<div class="hidden-xs">{% include 'brand' %}</div>{% endif %}
    
    {% if settings.tag-placement == 'sidebar' and template contains 'collection' %}
    <h3>{% include '__localize' with 'Filter' %}</h3>
    {% include 'tag-buttons' %}
    {% endif %}
    
    {% if template == 'blog' or template == 'article' %}
      <h3>{% include '__localize' with 'Recent articles' %}</h3>
      {% for a in blog.articles limit:settings.blog-list-limit %}
        {% include 'article-excerpt' %}
      {% endfor %}
    {% endif %}
    
    {% unless linklists[settings.sidebar-linklist] == empty %}
      <h3>{{ linklists[settings.sidebar-linklist].title }}</h3>
      {% include 'submenu' with linklists[settings.sidebar-linklist] %}
    {% endunless %}
  
    {% unless blogs[settings.sidebar-blog] == empty %}
      <h3>{{ blogs[settings.sidebar-blog].title }}</h3>
      {% for a in blogs[settings.sidebar-blog].articles limit:settings.blog-list-limit %}
      <h5>{{ a.title | link_to: a.url, a.title }} <small class="text-muted help-block">{{ a.published_at | date: settings.short-date-format }}</small></h5>
      {% endfor %}
    {% endunless %}
    
    {% if settings.newsletter-signup-placement == 'sidebar' %}
      {% include 'newsletter-signup-form' %}
    {% endif %}
            
    {% if settings.social-links-placement == 'sidebar' %}
      <hr>
      {% include 'social-links' with 'lg' %}
    {% endif %}
  </div>
</aside>