<aside class="sidebar col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
  <div class="sidebar-content">
    {% if settings.logo-placement == 'sidebar' %}<div class="hidden-xs">{% include 'brand' %}</div>{% endif %}
    
    {% if settings.tag-placement == 'sidebar' %}{% include 'collection-tags-menu' %}{% endif %}
    {% if settings.tag-placement == 'sidebar' %}{% include 'collection-tags-buttons' %}{% endif %}
    
    {% unless linklists[settings.sidebar-linklist] == empty %}
    <h4 class="page-header">{{ linklists[settings.sidebar-linklist].title }}</h4>
  
    <ul class="nav nav-pills nav-stacked">
      {% for l in linklists[settings.sidebar-linklist].links %}
      <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
      {% endfor %}
    </ul>
    {% endunless %}
  
    {% unless blogs[settings.sidebar-blog] == empty %}
    <h4 class="page-header">{{ blogs[settings.sidebar-blog].title }}</h4>
  
    {% for a in blogs[settings.sidebar-blog].articles limit:settings.blog-list-limit %}
    {% include '_article-excerpt' %}
    {% endfor %}
    
    {% endunless %}
    
    {% if settings.show-newsletter-signup-form and settings.newsletter-signup-placement == 'sidebar' %}
      {% include 'newsletter-signup-form' %}
    {% endif %}
            
    {% if settings.social-links-placement == 'sidebar' %}
      <hr>
      {% include 'social-links' %}
    {% endif %}
    
    <hr>
  </div>
</aside>
