{% unless template == 'article' %}<h2 id="facebook-title"></h2>{% endunless %}
<div class="row" id="facebook-thumbs" data-album="{{ social-feed.metafields.lucid.facebook-album }}"></div>
<p id="facebook-link"></p>