{% assign social_links = 'dribbble email facebook flickr foursquare github google-plus instagram linkedin pinterest rss skype stack-exchange stack-overflow tumblr twitter vimeo youtube' | split: ' ' %}
{% for link in social_links %}
  {% assign social_link = link | prepend: 'social-links-' %}
  {% unless settings[social_link] == blank %}
    {% assign link_href = settings[social_link] %}
    {% assign icon = link %}

    {% case link %}
    {% when 'email' %}
      {% assign link_href = settings[social_link] | prepend: 'mailto:' %}
      {% assign icon = 'envelope' %}
    {% when 'rss' %}
      {% assign blog_rss = settings[social_link] %}
      {% assign link_href = blogs[blog_rss].url | append: '.atom' %}
    {% when 'vimeo' %}
      {% assign icon = icon | append: '-square' %}
    {% endcase %}
    
    <a href="{{ link_href }}" class="text-muted" target="_blank">
    	<i class="fa fa-{{ icon }} fa-fw {% if social-links %}fa-{{ social-links }}{% endif %}"></i>
    </a>
  {% endunless %}
{% endfor %}