{% if tags %}
  {% if settings.tag-format == "dropdown" or tags.size > max_tags %}
  <div class="btn-group {% unless settings.tag-placement == 'sidebar' %}pull-right{% endunless %}">
    <a class="btn {% if current_tags %}btn-primary{% else %}btn-default{% endif %} dropdown-toggle" data-toggle="dropdown" href="#">{% include '__localize' with 'Filter by' %}</a>
    <ul class="dropdown-menu">
      {% if current_tags and template == 'collection' %}<li><a href="./"><em>{% include '__localize' with 'Clear filters' %}</em></a></li>{% endif %}
      {% for t in tags %}
      {% if current_tags contains t %}
      <li class="active">{{ t | capitalize | append: '&emsp;<i class="fa fa-times-circle"></i>' | link_to_remove_tag: t }}</li>
      {% else %}
      {% comment %}<!-- to use multiple tag filters in dropdown use this line instead of the one above --><li>{{ t | capitalize | link_to_tag: t }}</li>{% endcomment %}
      <li>{{ t | capitalize | link_to_add_tag: t }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endif %}